.indian-flag{
    margin-left: 41.1%;
    margin-top: 2%;
    width: 16%;
    height: auto;
}

.unite-india{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2%;
    font-size: 2.2vw;

}

.h1-mobile{
    /* top: 50%; */
    font-family: 'Noto Serif', serif;
    font-size: 1.5vw;
    color: rgb(5, 45, 78); 
}

.mobile-card{
    height: 99%;
    width: 114%;
    border-radius: 0px;
    border-color: rgb(6, 57, 99); 
    text-align: center;
    /* vertical-align: middle; */
    margin-top: 10%;

}

.card-mobile1{
    margin-top: 25%;
    margin-bottom: 13%;
    padding: 0;
}
.card-body{
    padding: 0;
}
.nav-css{
    border-radius: 30px;
    margin-right: 5%;
    margin-left: 6.5%;
}

.nav2-css{
    margin-left: 3.5%;
}

.mobile-list{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 2.2vw;
}

.nav-home{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto Slab', serif;


}

.navI-products{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto Slab', serif;

    margin-left: 10%;
    margin-right: -14%;

}

.navC-products{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto Slab', serif;

    margin-left: 15%;
    margin-right: -18%;

}

.link1{
    margin-right: 10%;
}

.aatmnirbhar{
    width: 100%;
    height: 10%;
}

.product-list{
    
    margin-right: 5%;
    font-family: 'Roboto Slab', serif;
    font-size: 140%;
    color: rgb(10, 94, 10);
}

.list-products{
    margin-left: 5%;
    margin-right: 6%;
    font-family: 'Roboto Slab', serif;
    font-size: 120%;
    color: rgb(10, 10, 100);
}

.h4-product-list{
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 150%;
    font-family: 'Roboto Slab', serif;
    color: rgb(165, 19, 19);
}

.li-tag{
    margin-left: 10%;
    color: rgb(10, 94, 10);
}

.li-tags-product{
    margin-left: 2%;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: large;
}

.lists{
    margin-left: 5%;
    margin-right: 55%;
}

.container {
    width: 80%;
    padding-right: 35px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.list-div{
    margin-right: 14%;
    margin-left: 8%;
}

.footer{
    font-family: 'Roboto Slab', serif;
    font-size: medium;
}

.email-me{
    margin-top: 1%;
    color: #262626;
    font-family: 'Roboto Slab', serif;
    transition: all 1s ease;
    margin-bottom: 3%;
  }

  .home-p{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
  }